<p-toast></p-toast>

<div class="min-h-screen flex flex-column">
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <h2 class="m-0">Meditrendz</h2>
    </ng-template>
    <ng-template pTemplate="end">
      <button *ngIf="isLoggedIn()" pButton pRipple icon="pi pi-sign-out" label="Logout" class="p-button-outlined" (click)="logout()"></button>
    </ng-template>
  </p-menubar>
  
  <div class="flex-grow-1 p-4">
    <router-outlet></router-outlet>
  </div>
  
  <div class="text-center p-4 surface-section border-top-1 surface-border">
    <span class="text-500">© 2025 Integrated Healthcare Management System</span>
  </div>
</div>